_sysTree/var/log/apache2/*
_sysTree/var/log/mariadb/*
_sysTree/var/log/mysql/*
_sysTree/var/log/mysql8/*
_sysTree/var/log/postgres/*
_data/mariadb/*
_data/mysql/*
_data/mysql8/*
_data/postgres/*
_sysTree/etc/ssh/ssh_host*
_sysTree/etc/ssh/moduli
Trash
docker-compose.yml
.env
